body {
  background-color: black;
}

.card {
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  padding: 1px 20px;
  background: url("./Images/backgorund.png");
  background-size: cover;
  margin: auto;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: black;
}

.insta {
  list-style-image: url("./Images/Insta.png");
}

.twitter {
  list-style-image: url("./Images/Twitter.png");
}

.youtube {
  list-style-image: url("./Images/Youtube.png");
}
